fon* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: ;
}

html {
	font-weight: normal;
	font-size: 16px;
}

.title,
h3,
h1,
a {
	font-family: Amatic SC;
	font-size: 40px;
}

p {
	font-family: Kameron;
	margin-bottom: 0;
}

ul,
nav {
	list-style: none;
}

/*code styling*/
a {
	text-decoration: none;
	color: #fff;
}

ul {
	margin: 0;
	padding: 0;
}

h1 {
	font: 3em italic;
}

/*header*/
header {
	height: 5em;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background-color: #607d8b;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

@media all and (max-width: 1100px) {
	header {
		height: 10em;
		display: flex;
		flex-direction: column;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	li {
		margin-bottom: 1em;
	}
}

/*navbar*/

.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.wrapper li {
	margin-right: 1em;
}

/*performances*/

#performances,
.prices {
	background-color: #c0c0c0;
}

#inline {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#inline li {
	width: 33%;
}

@media (max-width: 1100px) {
	#inline {
		display: flex;
		flex-direction: column;
	}

	#inline li {
		width: 100%;
	}
}

.title,
h3 {
	text-align: center;
	padding-top: 1%;
}

/*about us*/

#aboutUs {
	padding-left: 1%;
	padding-right: 1%;
	background-color: #83ba96;
}

#parent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-between;
}

.child {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
	.parent {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		align-content: space-between;
	}
}

/*form*/

#contactUs { background-color: #f5f5f5; }

input {	text-align: center; }

.form-row {
	padding: 0.5em;
	display: flex;
	justify-content: center;
}

.form-row > input {	flex: 2; }

.form-row > label {
	flex: 1;
	padding-top: 0.5em;
	padding-right: 1em;
	padding-bottom: 0.5em;
	padding-left: 0;
	text-align: center;
}

/*btn*/
a.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #7ea6a8;
	opacity: 1;
}

a:hover {	background-color: #62a0e2; }

/*footer*/

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background-color: #607d8b;
}

.margin-footer {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

footer p {
	width: 25%;
	text-align: center;
}

@media (max-width: 1100px) {
	footer {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
	}

	footer p {
		text-align: center;
		margin-bottom: 2em;
	}
}
